"AppBuild"
{
	"AppID" "0"			// REPLACE with the real Steamworks App ID
	"Desc" "Crystal Chatbox build"

	"ContentRoot" "../../platforms/windows/Builds/"
	"BuildOutput" "./build_output/"

	"Depots"
	{
		"1"				// REPLACE with the real Depot ID for the Windows depot
		{
			"FileMapping"
			{
				"LocalPath" "*"
				"DepotPath" "."
				"recursive" "1"
			}
		}
	}
}
