"DepotBuild"
{
	"DepotID" "1"			// REPLACE with the real Depot ID
	"ContentRoot" "../../platforms/windows/Builds/"

	"FileMapping"
	{
		"LocalPath" "*"
		"DepotPath" "."
		"recursive" "1"
	}

	"FileExclusion" "*.pdb"
}
